<div id='contact'>
	
	<h1><%=@contact.CompanyName %></h1>
	<%= link_to 'Edit', edit_contact_path(@contact), remote: true%>
	<%= link_to 'Destroy', contact_path(@contact),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
    <h3>Locations</h3>
    <%= render @contact.locations %>
</div>