<div id='contact'>
	<strong>Company:</strong>
	<%=@contact.CompanyName %>
	<%= link_to 'Edit', edit_contact_path(@contact), remote: true%>
	<%= link_to 'Destroy', contact_path(@contact),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</div>