
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";
@import "select2";
@import "select2-bootstrap";
@import "simple-sidebar";


body { 
	padding-top: 50px; 
	}
a {
	color: gray;
	
}
.thumbnail {
	background-color: #DDD;
	width: 17em;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}